.radio-button {
  display: block;
  padding: 0px 12px;
  color: var(--form-text);
}

.radio-button.radio-inline {
  display: inline;
}

.radio-button input {
  cursor: pointer;
  accent-color:#ff7f00;
}

.radio-button label {
  padding-left: 10px;
  margin-right: 12px;
  cursor: pointer;
}
