
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;


  border: none;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  background: transparent;
}


.custom-button.full-width {
  width: 100%;
}


.custom-button.primary {
  background-color: var(--orange);
  color: var(--white);

}

.custom-button.secondary {
  background-color: var(--white);
  color: var(--orange);
  border: 1px solid #4b5563;
}


.custom-button.primary:hover {
  filter: brightness(0.95);
}

.custom-button.secondary:hover{
  background-color: #f3f4f6;
}
