.custom-navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  max-width: 100vw;
  z-index: 1000;
}

.navbar-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.logo-container img {
  height: 100%;
}

.menu-container {
  height: 100%;
  flex-grow: 1;
}

.menu-container ul {
  height: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu-container ul li {
  display: inline;
}

.menu-container ul li a {
  color: var(--white);
}

.menu-container ul li:hover a {
  color: var(--orange);
  text-shadow: 0 0 10px var(--orange), 0 0 20px var(--orange), 0 0 30px var(--orange), 0 0 40px var(--orange);
}

.user-container {
  height: 100%;
}

.user-container ul {
  height: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.user-container ul li {
  display: inline;
}

.user-container ul li a {
  color: var(--white);
}

.user-container ul li:hover a {
  color: var(--orange);
  text-shadow: 0 0 10px var(--orange), 0 0 20px var(--orange), 0 0 30px var(--orange), 0 0 40px var(--orange);
}

.user-container ul li:first-child {
  border-right: 2px solid var(--white);
  padding-right: 10px;
}

.custom-navbar.scrolled {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.active {
  color: var(--orange) !important;
}

.collapsed-nav {
  display: none;
  height: 100%;
}

.ham-btn {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.ham-btn i {
  font-size: 1.5rem;
  color: var(--orange);
  border: 2px solid var(--orange);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.ham-btn i:hover {
  color: var(--white);
  border-color: var(--white);
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 60px;
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li a {
  text-decoration: none;
  color: var(--black);
  margin-left: 15px;
  font-size: 1.25rem;
  height: 100%;
  width: 100%;
  line-height: 2;
}

.menu-visible {
  display: block;
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
    padding: 0px 5px;
  }

  .menu-container {
    display: none;
  }

  .user-container {
    display: none;
  }

  .ham-btn {
    display: flex;
  }

  .sidebar-nav li:has(a.active) {
    background-color: var(--orange);
    box-shadow: 0 0 15px var(--orange), 0 0 30px var(--orange), 0 0 45px var(--orange);
  }

  .active {
    color: var(--white) !important;
  }
}
