:root {
  /* Main Palette */
  --text-button: #ff7f00;
  --text-2: #c0c1c3;
  --text-3: #848484;

  --fields: #1f2937;
  --fields-border: #374151;
  --fields-border-focused: #e8822f;
  --card-bg: #111827;
  --card-bg-2: #ed2b2c;

  /* <Film Description /> */
  --color-heading-strong: #c0c1c3; /* h1, h2 */
  --back-arrow-icon: #c0c1c3;
  --color-heading-medium: #c0c1c3; /* h3, h4 */
  --color-text-default: #848484; /* h5, h6, p, li, a */
  --color-info-tag: #909297; /* info/pill tag */
  --color-icons-orange: #e8822f; /* FilmDetails icons */

  /* <Role /> */
  --badge-icon: #21c55d;
  --badge-icon-text: #b2ebc7;
  --apply-button: #f66409;
  --apply-button-text: #5a2505;
  --requirements-title: #af6a34;
  --pay-range: #3aa767;
  --tags-container: #1f2937;

  /* Form Colors */
  --form-text: #e2e3e5;
  --form-input-placeholder: #708099;
  --form-input-background: #1f2937;
  --form-input-border: #374151;
  --form-option-focused: #ff7f00;

  --dropdown-multi-label: #ff7f00;

  /* App Form */
  --step-line: #ff7f00;
}
