.number-input {
  background-color: var(--section);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.number-input:hover {
  background-color: var(--section);
}
.number-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.number-input:focus {
  color: var(--orange);
  outline: 1px solid var(--input-focus-color);
  box-shadow: 0 0 10px 2px var(--input-focus-color);
}

.number-input:disabled {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}

.input-error {
  outline: 1px solid red;
  box-shadow: 0 0 10px 2px var(--input-focus-color);
}

.input-error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .number-input {
    margin-bottom: 20px;
  }
}
