@import url("./variables.css");

body {
  padding: 94px;
}

.info-tag {
  display: inline-block;
  font-family: "Garet", sans-serif;
  font-size: 0.85rem;
  color: var(--color-info-tag);
  padding: 2px 4px;
  border-style: solid;
  border-radius: 6px;
  border-width: thin;
  border-color: #464f5a;
  margin: 4px;
  white-space: nowrap;
}

.role-listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Two per row */
  gap: 20px;
  padding: 0px;
  margin: 0px;
}

.listing {
  background-color: #111827;
  padding: 10px 25px;
  border-radius: 10px;
}

.unavailable-role {
  opacity: 0.5;
}
